{% extends '::base.html.twig' %}

{% block body %}
    <div class="row-fluid">
        <div class="http-error">
            <h1>Oops!</h1>
            <p class="info">Ocurrió un error inesperado.</p>
            <p><i class="icon-home"></i></p>
            <p><a href="{{ path('homepage') }}">Volver a la página de Inicio</a></p>
        </div>
    </div>
{% endblock %}