# Bootstrap
/app/bootstrap*

# Symfony directories
/vendor/*
*/logs/*
*/cache/*
/web/uploads/*
/web/bundles/*
/web/uploads/imagenes/*

# Configuration files
/app/config/parameters.ini
/app/config/parameters.yml

# Otros
*.rar
*~
*/Thumbs.db