{% extends 'mzInventarioBundle::layout.html.twig' %}
{% import 'mzInventarioBundle::macros.html.twig' as macros %}

{% block title %} {{ parent() }} - Condiciones {% endblock %}

{% block pagetitle %} Condición {% endblock %}

{% block page %}
    <div class="row-fluid">
        {{ macros.btn_volver('condicion') }}
        {{ macros.btn_editar('condicion_edit', entity.id) }}
        {{ macros.btn_borrarf('condicion_delete', entity.id, delete_form) }}
    </div>

    <form class="well form-horizontal">
        {% include 'mzInventarioBundle:Partials:_show_fieldset.html.twig' with { 'entity': entity } %}
    </form>
{% endblock %}