<form action="{{ path(route, { 'id': entity.id }) }}" method="post" class="shitty-delete-form">
        {{ form_widget(delete_form) }}
        <button class="btn" data-dismiss="modal" aria-hidden="true">Cancelar</button>
        <button class="btn btn-danger" data-dismiss="modal" type="submit">Borrar</button>
</form>