{% extends 'mzInventarioBundle::layout.html.twig' %}
{% import 'mzInventarioBundle::macros.html.twig' as macros %}

{% block title %} {{ parent() }} - Categorías {% endblock %}

{% block pagetitle %} Categoría {% endblock %}

{% block page %}
    <div class="row-fluid">
        {{ macros.btn_volver('categoria') }}
        {{ macros.btn_editar('categoria_edit', entity.id) }}
        {{ macros.btn_borrarf('categoria_delete', entity.id, delete_form) }}
    </div>
    
    <form class="well form-horizontal">
        {% include 'mzInventarioBundle:Partials:_show_fieldset.html.twig' with { 'entity': entity } %}
    </form>
{% endblock %}