<fieldset>
    <div class="control-group">
        <label class="control-label">Id</label>
        <div class="controls">
            <span class="input-xlarge uneditable-input">{{ entity.id }}</span>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">Nombre</label>
        <div class="controls">
            <span class="input-xlarge uneditable-input">{{ entity.nombre }}</span>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">Slug</label>
        <div class="controls">
            <span class="input-xlarge uneditable-input">{{ entity.slug }}</span>
        </div>
    </div>
</fieldset>