{% extends 'mzInventarioBundle::layout.html.twig' %}
{% import 'mzInventarioBundle::macros.html.twig' as macros %}

{% block title %} {{ parent() }} - Estados {% endblock %}

{% block pagetitle %} Estado {% endblock %}

{% block page %}
    <div class="row-fluid">
        {{ macros.btn_volver('estado') }}
        {{ macros.btn_editar('estado_edit', entity.id) }}
        {{ macros.btn_borrarf('estado_delete', entity.id, delete_form) }}
    </div>
    
    <form class="well form-horizontal">
        {% include 'mzInventarioBundle:Partials:_show_fieldset.html.twig' with { 'entity': entity } %}
    </form>
{% endblock %}